@use "variables";

a {
  text-decoration: none;
}

body {
  font: variables.$mainFont;
  font-style: normal;
  background: variables.$bg;
  color: variables.$text;
  padding: 121px 30px;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0px 15px;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 85px;
}