$bg: #fff;
// Colors
$sub-title: #FFCC00;
$main-title: #898F8F;
$text: #333333;
$button: #667766;
$link: #CCCCCC;
// Fonts
$titleCapital:'RobotoBlack';
$mainFont: 500 14px / 1.71 'Raleway',
sans-serif;